
.ProductItem p{
    font-size: 14px;
    line-height: 1.5;
}
.image{
    background-color: #ECEFF1;
   
}

.ProductItem button{
   margin:15px 27px 15px 27px;
 
    
}
.ProductItem{
   
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #BDBDBD;
}
.btn{
    padding: 10px 10px 10px 10px;
    background-color:  #ECEFF1;
    display: flex;
    justify-content: space-evenly;
}
.ProductItem h3{
    text-align: left;
}
.ProductItem p{
    text-align: left;
}
.text{
    text-align: left;
    padding-left: 15px;
}